
<h4 class="mb-4">Crear nuevo hospital</h4>

<button class="btn btn-primary mb-4">
    <a asp-controller="Hospitales" asp-action="Index" class="link-dark">Volver a Index</a>
</button>

<form method="post" class="form">
    <label>Nombre</label>
    <input type="text" name="nombre" class="form-control" required />
    <label>Dirección</label>
    <input type="text" name="direccion" class="form-control" required />
    <label>Teléfono</label>
    <input type="text" name="telefono" class="form-control" required />
    <label>Número de camas</label>
    <input type="text" name="num_cama" class="form-control" required />
    <button class="btn btn-info">Crear Hospital</button>
</form>